body{
    font-family: sans-serif;
    background-color: rgb(235, 228, 228);
}




#heading
{
    display: flex;
    justify-content: space-between;
    width: 50%;
    /* border: 1px solid black; */
    margin: auto;
    height: 50px;
    font-size: 25px;
    /* justify-content: center; */
    /* align-items: center; */
    text-align: left;
    
}

 #logo
{
    font-weight: bolder;
    /* height: 50px; */
    /* width: 50px; */
    text-align: left;
} 


#card
{
    display: flex;
    /* border: 1px solid black; */
    height: auto ;
    width: 60%;
    margin:auto;
}

#card2{

    border: 1px solid rgb(235, 228, 228);
    width: 350px;
    height: 450px;
    margin-left: 20px;
    background-color: white;
    border-radius: 5px;
    /* position:static; */
}

.border-black
{
    border: 1px solid rgb(235, 228, 228);
    height: auto;
    padding: 20px;
    min-width: 250px;
    max-width: 500px;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 5px;
}

.border-black h2{
    font-size: 15px;

}

#div1
{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

#div1 img{
    height: 20px;
    /* padding-left: 5px; */
    cursor: pointer;
}

#div1 div+ div
{
    border: 1px solid black;
    padding: 2px;
    cursor: pointer;
}

.div3
{
    /* padding: 10px; */
    border: 1px solid rgb(235, 228, 228);

}

.div3 label{
    display: block;
    font-size: 12px;
    margin-top: 10px;
}

.div3 input
{
    outline: none;
    width: 300px;
    padding: 5px;
    margin-top: 3px;
    cursor: pointer;
}

.div3 button
{
    cursor: pointer;
}


/* .div1,.div2,.div4,.div5,.div6,.div7,.div8,.div9
{
    color: transparent;
    text-shadow: 0 0 2px #000;
} */


.div8 button
{
    /* padding: 10px ; */
    width: 200px;
    display: flex;
    margin: auto;
    text-align: center;
}



.div6 div
{
    border: 0.5px solid black;
    /* border: none; */
    display: block;
    margin-top: 5px;
    background-color: lightcyan;
    padding: 10px;
    cursor: pointer;
}



#card2 h2
{
    text-align:center;
}


.div6>div:hover{
    background-color: rgb(22, 130, 225);
    border: none;
    
    
}

.date
{
    border: 1px solid rgb(223, 232, 243);
    background-color: rgb(223, 232, 243);
    margin-top: 5px;
    padding: 5px;
}

.date:hover{
    background-color: lightcyan;

}