body {
    font-family: 'Open Sans', sans-serif;
}

#HMS {
    display: flex;
    /* border-bottom: 1px solid rgb(220, 218, 218); */
    border-top: 1px solid rgb(220, 218, 218);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px;


}

#HMS div {
    padding-left: 15px;
    font-size: 14px;
    font-weight: 100;
    /* color: gray; */
}

#HMS div a {
    text-decoration: none;
    color: rgb(58, 56, 56);
    font-size: 16px;
    font-weight: 800;
}

/* Men's Shirt Text */


.text_align {
    text-align: center;
}

#container {
    height: 600px;
    width: 100%;
    /* border: 1px solid black; */
    margin-top: 20px;
}

#box602 {
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* border: 1px solid black; */
    height: 100%;
    width: 70%;
    margin: auto;

}

#product_images {
    /* border: 1px solid black; */
    height: 100%;
    width: 60%;
    margin: auto;

}

#product_image div img {
    height: 100%;
    width: auto;
    padding: 20px;
    object-fit: contain;
    margin: 10px;

}

#product_image div img:hover {
    /* border: 1px solid  blue; */
    box-shadow: rgb(140, 140, 251) 0px 2px 8px 0px;
}

#product_detail2 {
    /* border: 1px solid black; */
    height: 100%;
    width: 100%;
}



/* Description */

#description {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 70%;
    margin: auto;
    line-height: 25px;
    padding: 20px;
    margin-top: 20px;
}

#description div h2 {
    color: gray;
    font-size: 16px;
    /* font-weight: 800; */
}

#description div p {
    font-size: 16px;
    font-weight: 100;
}

#description div li {
    padding-left: 10px;
}

.hrdiv {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid rgb(220, 218, 218);
}


/* Reference image */

#reference_image {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    width: 60%;
    margin: auto;
    cursor: pointer;
    margin-bottom: 20px;
}

#reference_image div
{
    padding: 5px ;
}

#reference_image div:hover
{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#reference_image div img {
    width: 100%;
}

#reference_image div p {
    font-size: 16px;
}



#buythelook {
    border: 1px solid white;
    background-color: rgb(230, 224, 224);

}

#buythelook div h2 {
    margin-left: 300px;
    /* text-align: center; */
    margin-top: 20px;
}

#recently_image {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    cursor: pointer;
    gap: 10px;
    width: 80%;
    margin: auto;
    padding: 20px;
}


#recently_image img {
    width: 90%;
    background-color: white;
    padding: 0px 0px 0px 0px;
    margin: 15px 0px -10px 7px;
    /* margin: 5px; */

}



#recently_image div {
    padding: 7px 9px 4px 7px;
    background-color: white;

}

#recently_image div p {
    font-size: 14px;
}

#arrow_symbol {
    display: flex;
    justify-content: center;
    align-items: center;

}

#recently_image .greyincolor {
    background-color: rgb(230, 224, 224);
}

#box60 {
    /* border: 1px solid black; */
    width: 60%;
    margin: auto;
    font-size: 18px;
}





/* REview */



#review_box {
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 60%;
    margin: auto;
    gap: 50px;
}

.halfwidth {
    /* border: 1px solid black; */
    width: 90%;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;

}

#star-rating {
    display: flex;
    align-items: center;
}





/* Recently Product */

#recently-viewed {
    /* border: 1px solid black; */
    width: 60%;
    margin: auto;
    padding: 30px;
}

#clear_all {
    display: flex;
    justify-content: space-between;
}

#recently_viewed_box {
    display: grid;
    /* border: 1px solid black; */
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    /* padding: 20px; */
    margin: auto;
    margin-top: 20px;
    width: 100%;

}

#clear_all>h2 {
    font-size: 18px;
    font-weight: 800;
    /* border: 1px solid black; */
}




#recently_viewed_box div img {
    width: 150px;
    height: 200px;
    cursor: pointer;
}

#recently_viewed_box div:hover {

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#boxtoclear {
    /* border: 2px solid black; */
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 800;
    background-color: rgb(239, 237, 237);
    cursor: pointer;
}

#boxtoclear:hover {
    background-color: rgb(216, 213, 213);
    cursor: pointer;
}




/* Back to top */
#btt {
    /* border: 1px solid black; */
    /* text-align: center; */
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#btt h3 {
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
}

#btt h3:hover {
    background-color: black;
    color: white;
}